header {
    background: #bbbbbb;
    padding: 20px 0;;
}

footer {
    text-align: center;
    background: url(imagens/bg.jpg);
}

.copyright {
    font-size: 13px;
    color: white;
    text-align: center;
}